.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(207, 245, 231, 1);
}
.desktop1-rectangle1 {
  top: 75px;
  left: 1144px;
  width: 195px;
  height: 57px;
  position: absolute;
  border-radius: 111px;
}
.desktop1-rectangle2 {
  top: 75px;
  left: 101px;
  width: 213px;
  height: 57px;
  position: absolute;
  border-radius: 111px;
}
.desktop1-text {
  top: 86px;
  left: 465px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  top: 86px;
  left: 598px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  top: 86px;
  left: 785px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text06 {
  top: 86px;
  left: 948px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text08 {
  top: 84px;
  left: 1182px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  top: 81px;
  left: 135px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Yellowtail;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  top: 266px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 68px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text13 {
  font-weight: 400;
}
.desktop1-text14 {
  font-weight: 700;
}
.desktop1-text15 {
  font-weight: 400;
}
.desktop1-text19 {
  font-weight: 700;
}
.desktop1-text21 {
  top: 462px;
  left: 211px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text23 {
  top: 462px;
  left: 497px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text25 {
  top: 462px;
  left: 762px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-ellipse1 {
  top: 194px;
  left: 899px;
  width: 368px;
  height: 368px;
  position: absolute;
}
.desktop1-sparkles {
  top: 464px;
  left: 178px;
  width: 33px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-page1 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame41 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-bitmap {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.desktop1-sparkles1 {
  top: 464px;
  left: 464px;
  width: 33px;
  height: 33px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-page11 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame411 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-bitmap1 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.desktop1-page12 {
  top: 464px;
  left: 729px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame412 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-bitmap2 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
